.animate {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.animate2 {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}
.game-space {
  float: left;
  width: 33.333%;
  height: 200px;
  border: #000 1px solid;
  box-sizing: border-box;
  text-align: center;
  line-height: 150px;
  font-size: 3em;
}

.row {
  overflow: hidden;
}
